:root {
  --main-title-color: #3BB273;
  --background-color:#F6FEDB;
  --main-text-color:black;
  --accent-color:#E15554;
  --accent-color2:#4D9DE0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}