{% extends 'base.html' %}

{% block content %}
<body>
  <script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>

  <div class ="snippet-cont">

  <div>
    <a href="{% url 'add_snippet' %}">add a snippet</a>
  </div>
    {% for snippet in snippets %}
    <h2>
    {{snippet.title}}
    <a href="{% url 'edit_snippet' %}">edit snippet</a>
  </h2>
    {{snippet.description}}
    {{snippet.language}}
    {{snippet.code}}
    <!-- <pre>
<code> class= "lang-{{snippet.language}}"{{snippet.code}} </code>
<button class="btn" data-clipboard-text="1">Copy</button>
    </pre> -->
    {{snippet.language}}
    {{snippet.created_at}}
  </div>

  {% endfor %}
</body>


{% endblock %}