:root {
  --main-title-color: #3bb273;
  --background-color:#0B3954;
  --main-text-color:white;
  --accent-color:#e1bc29;
  --accent-color2:#e15554;
  --accent-color3:#4d9de0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  margin: 3rem;
  font-family: 'Khand', sans-serif;
  height: 100%;
  overflow: hidden;

}

.header {
  color: var(--main-title-color);
  background-color: var(--background-color);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border: 10px solid var(--accent-color);
  font-family: 'Bungee Inline', cursive;
  font-size: 2.8rem;
  padding: 1.5rem;
}

.main-title {
  color: var(--main-title-color);
}

h2 {
  color: var(--main-title-color);
}

.snippets {
  display: flex;
  flex-direction: row;
}

.snippet-cont {
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border:5px solid var(--accent-color);
  color:var(--main-text-color);
  width: 400px;
  height:300px;
 
}

.snippet-cont:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

a{
  text-decoration: none;
}

.link {
  font-size: 1.8rem;
	position: relative;
	z-index:2;
	display: inline-flex;
  color: var(--accent-color3);
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
}

.link::before {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top,white 10%, rgba(0, 0, 0, 0) 10%);

	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -2;

	will-change: width;
	transform: rotate(-4deg);
	transform-origin: center;
}

.link:hover::before {
	width: 0;
}

/*
* animation styles
*/

.link::before {
	transition: width 0.1s ease-in-out;
}

.link:hover::before {
	transition-duration: 0.15s;
}

.edit-link {
  font-size: 1.5rem;
}

.footer {
  font-size: 2rem;
  color: var(--main-title-color);
  margin: auto;
}

.footer-link{
  color: var(--accent-color3);
  margin: 1rem;
}

.footer-link:hover{
  color: white;
}