{% extends 'base.html' %}
<body>
{% block content %}

  <div class ="snippet-cont">
    {% for snippet in snippets %}
    <h2>
      {{snippet.title}}
    </h2>
      {{snippet.description}}
      {{snippet.language}}
      {{snippet.code}}
<pre>
<code id="code-block"> class= "lang-{{snippet.language}}"{{snippet.code}} </code>
<button class="btn" data-clipboard-text={{snippet.code}} >Copy</button>
</pre>
    {{snippet.created_at}}
    <p>
      <a class="link edit" href="{% url 'edit_snippet' snippet.id %}">edit snippet</a>
    </p>
  </div>

  {% endfor %}
</body>


{% endblock %}

