{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'add_snippet' %}">add a snippet</a>
  </div>

  <div class ="snippet-cont">
  <div>
  
  </div>
    {% for snippet in snippets %}
    <h2>
    {{snippet.title}}
  </h2>
    {{snippet.description}}
    {{snippet.language}}
    {{snippet.code}}
    <pre>
<code> class= "lang-{{snippet.language}}"{{snippet.code}} </code>
<button class="btn" data-clipboard-text="1">Copy</button>
    </pre>
    {{snippet.language}}
    {{snippet.created_at}}
    <p>
    <a href="{% url 'edit_snippet' %}">edit snippet</a>
    </p>
  </div>

  {% endfor %}
</body>


{% endblock %}