<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cutive+Mono|Khand&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  <link rel="stylesheet" href="{% static 'CSS/prism.css' %}"/>
  <script src="{% static 'js/prism.js' %}"defer></script>
  <script src="{% static 'js/snips.js' %}"defer></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"defer></script>

  {% block title %}<title>Clippy Snips</title>{% endblock %}
</head>
<body>
  <header class="header">
    <h1>
      Clippy Snips: Code Keeper
    </h1>
      <div>
      {% if user.is_authenicated %}
      <a href="{% url 'snippets' %}">snippets</a>
      <a class="link" href="/accounts/logout">logout</a>
      {% else %}
      <a class= "link" href="/accounts/login">login</a>
      <a class="link" href="/accounts/register">register</a>
      {% endif %}
    </div>
  </header>
  {% block content %}
  {% endblock %}
  
</body>
</html>