:root {
  --main-title-color: #3bb273;
  --background-color:#F6fedb;
  --main-text-color:black;
  --accent-color:#e1bc29;
  --accent-color2:#e15554;
  --accent-color3:#4d9de0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;

}

.snippet-cont {
  border:var(--accent-color)
}